<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS Basics</title>
    <link rel="stylesheet" href="style.css" />
    <script src="./lib/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1 v-once>{{title}}</h1>
      <p>{{sayHello()}} - <a v-bind:href="link" target="_blank">Google</a></p>
      <hr />
      <p v-html="finishedLink"></p>
      <hr />
      <h5>Counter:</h5>
      <button v-on:click="increase(2, $event)">Count 2 time</button>
      <button v-on:click="count++">Count 1 time</button>
      <p>{{count}} {{count > 10 ? "Greater than 10" : "Smaller than 10"}}</p>
      <hr />
      <p v-on:mousemove="updateCoordinates">
        Co-ordinates: {{ x }} / {{ y }} -
        <span v-on:mousemove.stop="">DEAD SPOT</span>
      </p>
      <hr />
      <input type="text" v-on:keyup.enter.space="alertMe" />
      <hr />
      <h5>Two way binding:</h5>
      <input type="text" v-model="name" />
      {{name}}
      <hr />
      <h5>Computed Property:</h5>
      <button v-on:click="counter1++">Counter1 Increase</button>
      <button v-on:click="counter1--">Counter1 Decrese</button>
      <button v-on:click="counter2++">Counter2 Increase</button>
      <p>Counters: {{counter1}} | {{counter2}}</p>
      <p>{{result()}} | {{countOutput}}</p>
      <hr />
      <h5>Dynamic Styling with class:</h5>
      <input type="text" v-model="color" />
      <input type="text" v-model="width" />
      <br />
      <div
        class="demo"
        @click="activeRed = !activeRed"
        :class="{red: activeRed}"
      >class object</div>
      <div
        class="demo"
        @click="activeGreen = !activeGreen"
        :class="demo3Class"
      >class variable</div>
      <div class="demo" @click="activeBlue = !activeBlue" :class="color">class binded to input</div>
      <div
        class="demo"
        :class="[{red: activeRed}, {green: activeGreen}, {blue: activeBlue}]"
      >multiple class variables</div>
      <div
        class="demo"
        :style="demo5Style"
      >style object</div>
      <div
        class="demo"
        :style="[demo5Style, {height: width + 'px'}]"
      >Miltiple style object</div>
      <hr />
      <h5>Consitional Statement --> If-Else:</h5>
      <p v-if="show">You can see me!</p>
      <p v-else>Now You can see me!</p>
      <template v-if="show">
        <h5>Heading:</h5>
        <p>Inside the Template!</p>
      </template>
      <p v-show="show">Do You can see me?</p>
      <button @click="show = !show">Show/Hide</button>
      <hr />
      <h5>Looping --> For-In:</h5>
      <ul>
        <li v-for="(ingredient, i) in ingredients">{{ingredient}} ({{i}})</li>
      </ul>
      <h6>In Template:</h6>
      <template v-for="(ingredient, i) in ingredients">
        <h6>{{ingredient}}:</h6>
        <p><b>Index:</b>{{i}}</p>
      </template>
      <h5>Looping Objects --> For-In:</h5>
      <ul>
        <li v-for="person in persons">
          <div v-for="(val, key, idx) in person">{{key}}: {{val}} ({{idx}})</div>
        </li>
      </ul>
      <h5>Looping Numbers --> For-In:</h5>
      <span v-for="num in 10">{{num}}</span>
      <hr />
    </div>
    <script src="/app.js"></script>
  </body>
</html>
